<div class='main'>
  <div class='top-content'></div>
    <div class='stores'>
      <div class='stores-posts'>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
        <div class='stores-post'>
        </div>
      </div>
  </div>
</div>